.header {
  width: 100%;
  height: 40px;
  background: $primary-color;
  box-shadow: 0px 3px 8px -5px rgba(0, 0, 0, 0.75);
  @include transition-ease-fast;

  .tutorial-btn-wrapper {
    width: 100px;
    height: 32px;
    @include transition-ease-fast;
  }

  .menu-logo {
    font-weight: 800;
    font-size: 20px;
    margin-top: 8px;
    font-family: "Roboto";
    text-transform: uppercase;
  }

  .tutorial {
    padding-bottom: 0px;
    margin-top: 4px;
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    @include transition-ease-fast;
    background: $secondary-color;
    border: none;
    width: 100px;
    height: 32px;
    border-radius: 5px;

    &:hover {
      border: 1px solid;
      color: $secondary-color;
      background: $primary-color;
    }
  }

  .project-nav {
    @include transition-ease-fast;
    display: flex;
    justify-content: space-around;

    ul {
      padding-top: 8px;
      display: flex;

      li,
      a {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 0px;
        list-style: none;
        color: $secondary-color;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        padding-top: 4px;
      }
      a:hover {
        border-bottom: 1px solid $secondary-color;
      }

      .active {
        border-bottom: 1px solid $secondary-color;
      }
    }
  }
}

.fa-sort-down {
  position: absolute;
  left: 4px;
  top: -8px;
  font-size: 46px;
  color: #a9a9a9;
  transform: rotate(180deg);
}

.menu-toggle {
  position: absolute;
  left: 26px;
  top: 12px;
  width: 40px;
  height: 40px;
  @include transition-ease-fast;
}

.rotate {
  transform: rotate(180deg);
  top: -11px;
  left: 22px;
}

.menu-toggle-white {
  color: $secondary-color;
}

.toggled {
  //margin-top: -60px;
  height: 0px;
}

/////////////
//Object menu

.object-menu {
  width: 310px;
  height: 460px;
  background: $primary-color;
  position: absolute;
  top: 50px;
  right: 500px;
  border-radius: 8px;
  font-family: "Lato";
  z-index: 5000;

  .shape-config {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      width: 8px;
      border-radius: 8px;
      background: #8f8f8f;
    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      border-radius: 8px;
      background: $secondary-color;
    }

    .top {
      font-size: 20px;
      background: $secondary-color;
      color: white;
      width: 100%;
      height: 45px;
      border-radius: 8px 8px 0 0;
      font-weight: lighter;
      text-align: center;
      padding-top: 10px;
      cursor: "move";
    }

    .shape-colors {
      width: 100%;
      height: 200px;

      .color-pickers {
        display: flex;
        justify-content: space-evenly;

        .shape-color-wrapper,
        .border-color-wrapper {
          width: 26.66px;
          height: 26.66px;
          background: #42445a;
          border-radius: 2px;

          .shape-color-input,
          .border-color-input {
            width: 30px;
            height: 30px;
            border: none;
            padding: 0;
          }
        }
      }

      .shape-opacity {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        width: 100%;
        border-bottom: 1px solid #dbdbdb;

        .opacity-input {
          -webkit-appearance: none;
          width: 200px;
          height: 6px;
          background: $accent-color;
          outline: none;
          opacity: 0.7;
          margin: 8px 14px 0 14px;
        }

        .opacity-input::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          background: $secondary-color;
          border-radius: 20px;
          cursor: pointer;

          &:hover {
            background: #11151a;
          }
        }

        .opacity-input-num {
          width: 45px;
          margin-right: 10px;
        }
      }

      p {
        padding: 0 8px 0 8px;
      }

      .first,
      .second,
      .border-type,
      .border-radius,
      .border-style,
      .shape-shadow {
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dbdbdb;

        .shape-border-style-input {
          width: 50px;
        }

        .fill-chbox,
        .border-chbox {
          width: 17px;
          height: 17px;
          cursor: pointer;
        }

        .shadow-chbox {
          margin-top: 3px;
        }
      }

      .shape-shadow {
        border: none;
      }

      .border-type {
        .brdr {
          width: 38px;
          height: 38px;
          margin-left: 8px;
          cursor: pointer;

          &:hover {
            background: #f2f2f2;
          }
        }

        .solid {
          border: 3px solid $secondary-color;
        }

        .dashed {
          border: 3px dashed $secondary-color;
        }

        .dotted {
          border: 3px dotted $secondary-color;
        }

        .double {
          border: 3px double $secondary-color;
        }
      }

      .first {
        padding-left: 8px;
      }

      .border-radius {
        input {
          width: 40px;
          margin-left: 4px;
        }
      }

      .shape-shadow {
        height: 110px;
        flex-direction: column;

        .shadow-1st,
        .shadow-2nd,
        .shadow-3rd {
          display: flex;
        }

        .shadow-1st {
          margin-bottom: 14px;
          margin-top: 6px;
        }

        .shadow-2nd {
          margin-bottom: 15px;
        }

        .shadow-color-input {
          width: 30px;
          height: 30px;
          border: none;
          padding: 0;
          margin-top: -4px;
        }

        .shadow-chbox {
          width: 17px;
          height: 17px;
          cursor: pointer;
        }

        input {
          width: 40px;
        }
      }

      .text-decoration {
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 8px;

        .bold,
        .oblique,
        .underline {
          width: 30px;
          height: 30px;
          background: #f2f2f2;
          border-radius: 4px;
          text-align: center;
          color: $secondary-color;
          cursor: pointer;

          &:hover {
            background: #dddddd;
          }
        }

        .bold,
        .oblique {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .oblique {
          padding-right: 3px;
          padding-bottom: 2px;
        }

        .underline {
          text-decoration: underline;
          padding-top: 2px;
        }
      }
    }
  }
}
